
<div>
  <div class="container">
    <div class="content">
      <h1 id="tableLabel">Pets</h1>

      <label for="fowner">Filter by owner:</label>
      <input type="text" id="fowner" name="fowner" [(ngModel)]="owner">
      <button type="submit" (click)="filterOwner()">Filter</button>
      <br>
      <button type="submit" (click)="addPet()">Add Pet</button>

      <p *ngIf="!pets"><em>Loading...</em></p>



      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pets">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets; let i = index">
            <td>{{ i+1 }}</td>
            <td><input type="text" [(ngModel)]="pet.name"></td>
            <td>
              <select name="species" [(ngModel)]="pet.species">
                <option *ngFor="let species of SPECIES" value="{{species}}">{{species}}</option>
              </select>
            </td>
            <td><input type="text" [(ngModel)]="pet.breed"> </td>
            <td><input type="number" [(ngModel)]="pet.age"></td>
            <td><input type="text" [(ngModel)]="pet.owner"></td>

            <td><button type="submit" (click)="updatePet(pet)">Update</button></td>
            <td><button type="submit" (click)="deletePet(pet.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>

</div>

